<!DOCTYPE html>
<html>
  <head>
    <title>About</title>

<link rel="stylesheet" href="extensiblestyle.css">

  </head>
  <body>
  
<!--=========================== navigation links ==================================== -->
<div id="navigation">
<ul class="navigationlist">
	<li><a href="/">Home</a>
	<li><a href="/rules">Rules</a>
	<li><a href="/faq">FAQ</a>
	<li><a href="/about">Founders</a>
</ul>
</div>

<!--=========================== site title ============================================= -->
<div id="title">
    <h1 class="titlecap"><a href="/" title="Home">Extensible Presentment</a></h1>
</div>
    
<!--=========================== about us text block ==================================== -->
 <div id="textblock">   
    <h2 class="subtitlecap">About Us</h2>
<p> This site was created for CPSC473 in Spring 2012 to represent knowledge with Sinatra, Ruby, Redis, HTML, and CSS.
</div>

<!--=========================== founders text block ==================================== -->
<div id="textblock">
    <h2>Founders</h2>
	    <p>Angel Flores: angel.castrejon@gmail.com</p>
	    <p>Iris Markofsky: devils_darkness1313@hotmail.com , msdarkness1313@gmail.com</p>
	    <p>Jonathan Canfield: jonnycanfield@hotmail.com</p>
	    <p>Michael Robertson: mirob2005@gmail.com</p>
	    <p>Nguyen Do: nguyenvudo@gmail.com, ndo@csu.fullerton.edu</p>
</div>
  </body>
</html>
