<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Extensible Presentment</title>

<link rel="stylesheet" href="extensiblestyle.css">

  </head>
  
  <body>
<!--=========================== site title ========================================== -->
<div id="title">
    <h1 class="titlecap"><a href="/" title="Home">Extensible Presentment</a></h1>
</div>

<!--=========================== text block ========================================= -->
<div id="textblock">
    <h2>What is Extensible Presentment?</h2>
    <p>Extensible Presentment is a simple imageboard created for the purpose of showing knowledge in Ruby, Sinatra, Redis, HTML, and CSS style of coding. It was created for Cal State Fullerton's CPSC473 - Web Programming class in February of 2012.</p>
    <br />
</div>

<!--=========================== navigation links ====================================== -->
<div id="navigation">
<ul class="navigationlist">
	<li><a href="/">Home</a>
	<li><a href="/rules">Rules</a>
	<li><a href="/faq">FAQ</a>
	<li><a href="/about">Founders</a>
</ul>
</div>


<!--=========================== subjects table ========================================== -->
<div id="subjectslist">
    <h2 align="center" class="subtitlecap">Board Subjects</h2>

	<table class="substable" align="center">
	  <tr align="middle">
		<th>
	    <h3>Japanese Culture</h3>   
		</th>
		<th>
	    <h3>Interests</h3>
		</th>
		<th>
	    <h3>Creative</h3>
		</th>
		<th>
	    <h3>Other</h3>
		</th>
		<th>
	    <h3>Misc</h3>
		</th>
	</tr>

	<tr>
	<td>
	      <ul class="sublink">
		<li><a href="/Anime/">Anime</a></li>
		<li><a href="/Manga/">Manga</a></li>
		<li><a href="/Wallpapers/">Wallpapers</a></li>
		<li><a href="/Mecha/">Mecha</a></li>
	      </ul>
	</td>
	<td>
	      <ul>
		<li><a href="/Videogames/">Video Games</a></li>
		<li><a href="/Comics/">Comics</a></li>
		<li><a href="/Technology/">Technology</a></li>
		<li><a href="/Television/">Television</a></li>
	      </ul>
	</td>
	<td>
		<ul>
		<li><a href="/artwork/">Artwork</a></li>
		<li><a href="/Papercraft/">Papercraft</a></li>
		<li><a href="/Photography/">Photography</a></li>
		<li><a href="/Food/">Food</a></li>
	      </ul>
	</td>
	<td>
	      <ul>
		<li><a href="/Travel/">Travel</a></li>
		<li><a href="/Health/">Health</a></li>
		<li><a href="/Paranormal/">Paranormal</a></li>
		<li><a href="/Literature/">Literature</a></li>
	      </ul>
	</td> 
	<td>      
	      <ul>
		<li><a href="/Random/">Random</a></li>
		<li><a href="/Request/">Request</a></li>
		<li><a href="/advice/">Advice</a></li>
		<li><a href="/Social/">Social</a></li>
	      </ul>
	</td>
	</tr>
	</table>
</div>


</body>
</html>
