<!DOCTYPE html>
<html>
  <head>
    <title>Rules</title>
<link rel="stylesheet" href="extensiblestyle.css">
  </head>
  <body>

<!--=========================== site title ============================================= -->
<div id="title">
    <h1 class="titlecap"><a href="/" title="Home">Extensible Presentment</a></h1>
</div>

<!--=========================== navigation links ====================================== -->
<div id="navigation">
<ul class="navigationlist">
	<li><a href="/">Home</a>
	<li><a href="/rules">Rules</a>
	<li><a href="/faq">FAQ</a>
	<li><a href="/about">Founders</a>
</ul>
</div>

<!--============================== rules block ======================================= -->
<div id="textblock">
    <h2 class="subtitlecap">Rules</h2>
	<ul class="rules">
	<li> This is a work/school-friendly imageboard. Therefore keep the images appropriate to that fact.</li>
	<li> You are not allowed to post any pornographic related material to this site</li>
	<li> There will be no photo posts displaying real-life gore (i.e. deaths, broken bones, gashes,etc)</li>
	<li> Respect copyrights and give credit where credit is due. Provide sources for where your images came from</li>
	<li> Do not double post images</li>
	<li> Do not post anything illegal. (i.e. program keys, illegal materials, etc)</li>
	<li> Please post images with files names that do not contain spaces or special characters. If your file has a space or special character in the name, please rename the file before uploading (i.e If you have a file called "The big-pic.jpg", rename it to "thebigpic.jpg")</li>
	</ul>
</div>

  </body>
</html>
